<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <header id="backImage">
        <div id="navigation">
            <ul id="first">
                <li><a href="http://localhost:3000">Home</a> </li>
                <li><a href="http://localhost:3000/form?tok=Bearer <%=myTok%>"> Calculator</a> </li>
                <li><a href="http://localhost:3000/records?tok=Bearer <%=myTok%>">Records</a></li>
                <li><a href="http://localhost:3000/getPosts">Feedback</a></li>

            </ul>
            <ul id="Second">
                <li><a href="http://localhost:3000/getLogin">Login </a></li>
                <li><a href="http://localhost:3000/getSign">Signup </a></li>
                <form action="http://localhost:3000/postLogout" method="POST">
                    <button type="submit" id="Logout"> <li>Logout</li> </button>
                     </form>
            </ul>
        </div>

    </header>
    <main>
        <form action="http://localhost:3000/postSignup" method="POST">
           
            <label for="username">Username</label>
            <div> <input type="text" id="username" name="username"> </div>
          
            <label for="email">Email</label>
            <div> <input type="email" id="email" name="email"> </div>
            <label for="password">password</label>
            <div> <input type="password" id="password" name="password"> </div>

            <button type="submit" class="btn"><h3> Sign up </h3></button>
        </form>
    </main>
</body>

</html>