<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/css/records.css">

</head>

<body>
    <div id="navigation">
        <ul id="first">  
            <li><a href="http://localhost:3000">Home</a> </li>
            <li><a href="http://localhost:3000/form"> Calculator</a> </li>
            <li><a href="http://localhost:3000/records">Records</a></li>

        </ul>
        <ul id="Second">
            <li><a href="http://localhost:3000/auth?code=1">Login </a></li>
            <li><a href="http://localhost:3000/auth?code=2">Signup </a></li>
        </ul>
    </div>
    <%for (record of data) {%>
        <ul class="record">
            <li> Tax : <%=record._doc.Tax_Type%>
            </li>
            <% for(let obj in record._doc.Tax_Amount) { %>

                <li>
                    <%=obj%> : <%=record._doc.Tax_Amount[obj].toFixed(2)%>
                </li>

                <%}%>
                <li>Record created at:<%=record.createdAt%></li>
        </ul>


        <%}%>
</body>

</html>
<!-- {# for coments in ejs#} add this -->