* {
    background-color: bisque;
}

#person {
    display: none;
}

#corporation {
    display: none;
}

#personIncome {
    display: none;
}

#bothVAT {
    display: none;
}
.radio {
    margin-left: 1rem;
    display: inline-flex;
}