body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(150, 150, 150), rgb(255, 255, 255));
}


#navigation {
    width: 100%;
    display: flex;
   
    
}

#first {
    
    display: flex;
   
}

#Second {
    
    display: flex;
    
}


li {
    padding: 15px;
    list-style: none;
}

#links {
    padding-top: 30px;
}

a:hover {
    background-color: rgba(225, 233, 232);
   
    animation-name: linkColor;
    animation-duration: 0.5s;
}

a {
    text-decoration: none;
    padding: 3px;
    width: 20%;
    /* border: solid 2px rgb(56, 53, 61); */
    color: rgb(53, 60, 61);
    font-size: 20px;
    font-weight: 700;
}

.record {
    border: solid 2px ;
}

@keyframes linkColor {
    from {background-color: inherit;}
    to {background-color: rgb(225, 233, 232);}
  }